:root {
  --primaryColor: #1e2023;
  --secondaryColor: rgb(79, 199, 255);
  --accent: hsl(199, 79%, 90%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {  /* This is used so that there is nothing that will have the user scroll right or left. It's purpose came from the animated PROJECTS text. */
  overflow: hidden;
  overflow-y: auto;
}

main {
  background-color: var(--primaryColor);
}

#THISISAWORKINPROGRESS {
  background-color: rgb(223, 16, 16);
  position: static;
  height: 69px;
  z-index: 100000;
  position: relative;  /* used so that z-index works ? */
}
#THISISAWORKINPROGRESS p {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  padding: 25px 5px;
}



#header {
  position: fixed;
  top: 0;
  left: 0;  /* should be able to delete this after the work in progress*/
  width: 100%;
  padding: 8px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: var(--primaryColor);
  box-shadow: 0px 2px 15px #000;
}
.logo {
  font-size: 25px;
  color: #fff;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  animation: slideRight 1s ease forwards;
}
/* vvv this is the best thing I found for making the background:  change upon :hover */
.HillsBG {
  position: relative;
  width: 300px;
  height: 300px;
  background: transparent;
}
.HillsBG:before {
  content: "J Hill";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 60px;
  padding: 8px 15px;
  background: url('./Images/JHillHills4.png') no-repeat center center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.HillsBG:hover:before {
  opacity: 1;
}

.navbar {
  background: linear-gradient(hsl(216, 8%, 9%) 5%, hsl(216, 8%, 18%));
  border-radius: 30px;
  padding: 12px 15px;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  padding: 7px 20px;
  transition: .3s;
  opacity: 0;  /* this is for the keyframe; so that it's starting position isn't visible right away */
  animation: slideTop .5s ease forwards;  /* keyframe */
  animation-delay: calc(.1s * var(--i));  
  border-radius: 17px;
}
.navbar a:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
} 
.navbar a.active {
  color: var(--secondaryColor);
}
.navbar a.active:hover {
  color: var(--primaryColor);
}
/*  */
/* vvv this is so that the ends of the nav are equally spaced around the whole curve when hovered */
.navbar a:nth-of-type(1) {
  margin: 0 10px 0 0;
}
.navbar a:nth-of-type(4) {
  margin: 0 0 0 10px;
}
/* ^^^ this one too */




.home {
  display: flex;
  background: var(--primaryColor);
  align-items: center;
  justify-content: center;
  padding: 180px 10% 330px;
  color: #fff;
}

.home-content {
  max-width: 800px;
  padding-top: 30px;
}
.home-content .head3 {
  font-size: 42px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom .5s ease forwards;
  animation-delay: .7s;
  text-align: center;
}
.home-content #imA .head3 {
  margin-bottom: 90px;
  animation: slideTop .5s ease forwards;
  animation-delay: .7s;
}
.home-content .head3 span {
  color: var(--secondaryColor);
}
.home-content h1 {
  font-size: 76px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
  padding-bottom: 12px;
  text-align: center;
}
.home-content p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

#imA {
  display: flex;
  padding-left: 175px;
}

#homep {
  line-height: 1.5em;
  font-size: 1.2em;
  font-weight: 600;
}

.social-media {
  padding-bottom: 155px;
}
.social-media a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: transparent;
  border: 2px solid var(--secondaryColor);
  border-radius: 50%;
  font-size: 20px;
  color: var(--secondaryColor);
  text-decoration: none;
  margin: 20px 15px;
  transition: .5s ease;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
.social-media a:hover {
  background: var(--secondaryColor);
  color: var(--primaryColor);
  box-shadow: 0 0 20px var(--secondaryColor);
}

/* END OF HOME PAGE */



#aboutMe img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 1500px; */
  margin: 50px 10%;
  width: 1500px;
}

/* END OF ABOUT ME */


#skills {
  background-color: var(--primaryColor);
  padding: 170px 20%;
}
#skills h2 {
  color: #FFF;
  text-shadow: 0 0 12px #FFF, 0 0 50px #7118ff, 0 0 115px #7118ff, 0 0 125px #7118ff;
  font-size: 60px;
  /* position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; */
  padding-bottom: 140px;
  text-align: center;
}
#skills p {
  color: #FFF;
  position: relative;
  width: 820px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px;
  border: 2px rgba(41, 40, 47, 0.08) inset;
  
  margin-top: 10px;
  line-height: 1.5em;
  font-size: 1.2em;
}

#skillsLogos {
  display: flex;
  justify-content: space-between;
}

/* SVG curve from https://www.shapedivider.app/ */
.curve {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #00000000;
  z-index: 1;
}
.curve svg {
  position: relative;
  display: block;
  width: calc(275% + 1.3px);
  height: 172px;
}
.curve .shape-fill {
  fill: var(--primaryColor);
}
/* Making the background of the curve black so that the "Project" text can be behind the curve */
#bgBlack {
  background-color: #000;
}

/* END OF SKILLS */


/* Here, projectH2SlideIn and projectH2SlideOut are on two different lines. In order to have projectH2SlideOut aligned with projectH2SlideIn, you have to make it go up 97px */

/*  Fix the overflow!!!  */
#projects {
  background-color: #000;
}
#projectH2SlideIn {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  color: #FFF;
  position: relative;
  top: -120px;
  font-size: 56px;
  animation: moveProjectsL2R 60s linear infinite;
}
#projectH2SlideOut {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  color: #FFF;
  position: relative;
  top: -217px;
  font-size: 56px;
  animation: moveProjectsL2R1 60s linear infinite;
}

#projectH2SlideIn1 {
  overflow: hidden;
  white-space: nowrap;
  color: #FFF;
  position: relative;
  top: -220px;
  font-size: 56px;
  animation: moveProjectsR2L 60s linear infinite;
}
#projectH2SlideOut1 {
  overflow: hidden;
  white-space: nowrap;
  color: #FFF;
  position: relative;
  top: -317px;
  font-size: 56px;
  animation: moveProjectsR2L1 60s linear infinite;
}
/*  */
.projH2Outline {
  color: #000;
  -webkit-text-stroke: 2px #FFF;
  font-size: 84px;
}

/* END OF ANIMATED TEXT */


#cardsGrid {
  padding: 50px 1%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  color: #FFF;
}

.card {
  background-color: hsla(216, 35%, 12%, 0.5);
  backdrop-filter: blur(40px);
  border: 1px var(--accent) solid;
  padding: 10px;
  border-radius: 14px;
}
.card p {
  padding: 10px 3px 2px;
}

.titleLinksAndPic {
  display: flex;
}
.titleLinksAndPic img {
  height: 300px;
  border-radius: 14px;
}

.titleAndLinks {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.titleAndLinks h3 {
  text-align: center;
  padding: 40px 0;
}
.titleAndLinks a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 1000px; */
  margin: 10px 60px;
  padding: 10px 20px;
  background-color: var(--secondaryColor);
  border-radius: 14px;
  text-decoration: none;
  font-weight: 600;
  color: var(--primaryColor);
  /* box-shadow: 0px 0px 3px var(--secondaryColor); */
  transition: 01s ease;
}
.titleAndLinks a:hover {
  box-shadow: 0px 0px 20px 1px var(--secondaryColor);
  transition: 0.3s ease;
}
/* END OF PROJECTS */

/* https://app.haikei.app/ */
.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
}

.layer1 {
  background-image: url(./layer1.svg);
}

/* END OF FOOTER SVG */


footer {
  background-color: var(--primaryColor);
}
footer #Copy {
  color: #fff;
  text-align: center;
  background-color: #282B2F;
  padding: 8px 0 10px;
}

#footerContent {
  background-color: var(--primaryColor);
  color: var(--accent);
  padding: 30px 1% 0;
}
#footerContent p {
  background-color: var(--primaryColor);
}

#abProjGap {
  margin: 10px 0 30px;
  display: flex;
  justify-content: space-between;
}

.footerPDescription {
  padding: 20px;
  width: 930px;
  text-align: center;
}
#footerContent .footerPDescription p {
  padding-bottom: 10px;
  background-color: #282B2F;
  border: 10px #232529 solid;
  padding: 20px;
  margin-bottom: 50px;
}
.footerPDescription a {
  text-decoration: none;
  font-size: 18px;
  color: var(--secondaryColor);
  text-shadow: 0px 0px 10px var(--secondaryColor);
  border: 1px var(--secondaryColor) solid;
  padding: 10px 50px;
  border-radius: 14px;
  background-color: var(--primaryColor);
  box-shadow: 0 0 10px 1px rgba(79, 199, 255, 0.5);
  transition: box-shadow, color, background-color,  0.3s;
  letter-spacing: 0.065em;
}
.footerPDescription a:hover {
  box-shadow: 0 0 30px 0px var(--secondaryColor);
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  text-shadow: none;
  font-weight: 600;
  letter-spacing: 0.0em;
  padding: 10px 52px;
}

/*  */

#footerContact{
  margin: 80px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#footerContact p {
  font-weight: 500;
  padding: 0;
}

#contactFooterColInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

#flexFooterContactLinks {
  display: flex;
  justify-content: space-between;
  width: 500px;
  list-style-type: none;
}
#flexFooterContactLinks li a {
  color: var(--accent);
  text-decoration: none;
  padding: 0px 3px 4px;
  transition: 0.1s ease;
  border-left: 5px var(--primaryColor) solid;
  border-right: 5px var(--primaryColor) solid;
}
#flexFooterContactLinks a:hover{
  border-bottom: 3px var(--accent) inset;
  border-left: 5px var(--primaryColor) solid;
  border-right: 5px var(--primaryColor) solid;
}

/* END OF FOOTER */


/* KEYFRAME ANIMATIONS */

/* ANIMATIONS FOR THE HOMESCREEN */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* ANIMATIONS FOR THE "PROJECTS" TEXT GOING LEFT TO RIGHT */
@keyframes moveProjectsL2R {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0%);
  }
} 
/* ANIMATIONS FOR THE "PROJECTS" TEXT GOING LEFT TO RIGHT */
@keyframes moveProjectsL2R1 {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(100%);
  }
} 
/*  */
@keyframes moveProjectsR2L {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0%);
  }
} 

/*  */

/* ANIMATIONS FOR THE "PROJECTS" TEXT GOING RIGHT TO LEFT */
@keyframes moveProjectsR2L1 {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0%);
  }
} 

/* ANIMATIONS FOR THE "PROJECTS" TEXT GOING RIGHT TO LEFT */
@keyframes moveProjectsR2L {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
} 
