




:root {
  --primaryColor: #1e2023;
  --secondaryColor: rgb(79, 199, 255);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#THISISAWORKINPROGRESS {
  background-color: rgb(223, 16, 16);
  position: static;
  height: 69px;
}
#THISISAWORKINPROGRESS p {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  padding: 25px 5px;
}



#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: var(--primaryColor);
  box-shadow: 0px 2px 15px #000;
}
.logo {
  font-size: 25px;
  color: #fff;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  animation: slideRight 1s ease forwards;
  transition: all 1s;  /* IDK why this isn't getting a transition */
}
.logo:hover {
  background: url(./Images/JHillHills4.png);
  background-size: cover;
}

.navbar {
  background: linear-gradient(hsl(216, 8%, 9%) 5%, hsl(216, 8%, 18%));
  border-radius: 30px;
  padding: 12px 15px;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin: 0 10px;
  padding: 7px 20px;
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.1s * var(--i));
  border-radius: 17px;
}
.navbar a:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
} 
.navbar a.active {
  color: var(--secondaryColor);
}
.navbar a:nth-of-type(1) {
  margin: 0 10px 0 0;
}
.navbar a:nth-of-type(4) {
  margin: 0 0 0 10px;
}
.navbar a.active:hover {
  color: var(--primaryColor);
}




.home {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background: var(--primaryColor);
  align-items: center;
  justify-content: center;
  padding: 100px 10% 550px;
  color: #fff;
}
.home2 {
  padding: 146px 0 232px;
  align-items: center;
}

.home-content {
  max-width: 800px;
  padding-top: 30px;
}
.home-content .head3 {
  font-size: 42px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom .5s ease forwards;
  animation-delay: .7s;
  text-align: center;
}
.home-content #imA .head3 {
  margin-bottom: 90px;
  animation: slideTop .5s ease forwards;
  animation-delay: .7s;
}
.home-content .head3 span {
  color: var(--secondaryColor);
}
.home-content h1 {
  font-size: 76px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
  padding-bottom: 12px;
  text-align: center;
}
.home-content p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

#imA {
  display: flex;
  padding-left: 175px;
}

#homep {
  line-height: 1.5em;
  font-size: 1.2em;
  font-weight: 600;
}

.social-media {
  padding-bottom: 155px;
}
.social-media a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: transparent;
  border: 2px solid var(--secondaryColor);
  border-radius: 50%;
  font-size: 20px;
  color: var(--secondaryColor);
  text-decoration: none;
  margin: 20px 15px;
  transition: .5s ease;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
.social-media a:hover {
  background: var(--secondaryColor);
  color: var(--primaryColor);
  box-shadow: 0 0 20px var(--secondaryColor);
}


/* END OF HOME PAGE */


#skills {
  background-color: var(--primaryColor);
  color: #FFF;
  padding: 10px 10% 280px;
}

/* SVG curve */
.curve {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #00000000;
  z-index: 1;
}
.curve svg {
  position: relative;
  display: block;
  width: calc(275% + 1.3px);
  height: 172px;
}
.curve .shape-fill {
  fill: var(--primaryColor);
}
/* Making the background of the curve black so that the "Project" text can be behind the curve */
#bgBlack {
  background-color: #000;
}

/* END OF SKILLS */


/* Here, projectH2SlideIn and projectH2SlideOut are on two different lines. In order to have projectH2SlideOut aligned with projectH2SlideIn, you have to make it go up 97px */

/*  Fix the overflow!!!  */
#projects {
  background-color: #000;
}
#projectH2SlideIn {
  overflow: hidden;
  white-space: nowrap;
  color: #FFF;
  position: relative;
  top: -120px;
  font-size: 56px;
  animation: moveProjectsL2R 60s linear infinite;

}
#projectH2SlideOut {
  overflow: hidden;
  white-space: nowrap;
  color: #FFF;
  position: relative;
  top: -217px;
  font-size: 56px;
  animation: moveProjectsL2R1 60s linear infinite;

}

#projectH2SlideIn1 {
  overflow: hidden;
  white-space: nowrap;
  color: #FFF;
  position: relative;
  top: -220px;
  font-size: 56px;
  animation: moveProjectsR2L 60s linear infinite;

}
#projectH2SlideOut1 {
  overflow: hidden;
  white-space: nowrap;
  color: #FFF;
  position: relative;
  top: -317px;
  font-size: 56px;
  animation: moveProjectsR2L1 60s linear infinite;

}
/*  */
.projH2Outline {
  color: #000;
  -webkit-text-stroke: 2px #FFF;
  font-size: 84px;
}

/* END OF ANIMATED TEXT */

#projectsGrid {
  padding: 10px 1%;
  display: flex;
  flex-direction: column;
}

#featuredRow {
  display: flex;
  justify-content: space-between;
}
#featuredRow p, h3 {
  color: #FFF;
  text-decoration: underline;
}

#feat60Percent img {
  height: 570px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

#feat40Percent img {
  height: 570px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}



/* !!!! */
/* !!!! */
/* Have this class be added when the img is being hovered */
.displayProjText img {
  opacity: 0.75;
}
/* !!!! */
/* !!!! */
/* !!!! */



/* END OF PROJECTS */


#aboutMe {
  background-color: var(--primaryColor);
  color: #FFF;
  padding: 10px 10%;
}





/* KEYFRAME ANIMATIONS */

/* ANIMATIONS FOR THE HOMESCREEN */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* ANIMATIONS FOR THE "PROJECTS" TEXT GOING LEFT TO RIGHT */
@keyframes moveProjectsL2R {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0%);
  }
} 
/* ANIMATIONS FOR THE "PROJECTS" TEXT GOING LEFT TO RIGHT */
@keyframes moveProjectsL2R1 {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(100%);
  }
} 
/*  */
@keyframes moveProjectsR2L {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0%);
  }
} 

/*  */

/* ANIMATIONS FOR THE "PROJECTS" TEXT GOING RIGHT TO LEFT */
@keyframes moveProjectsR2L1 {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0%);
  }
} 

/* ANIMATIONS FOR THE "PROJECTS" TEXT GOING RIGHT TO LEFT */
@keyframes moveProjectsR2L {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
} 
