:root {
  --primaryColor: #1e2023;
  --secondaryColor: rgb(79, 199, 255);
  --accent: rgb(192, 235, 255);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: var(--primaryColor);
  box-shadow: 0px 2px 15px #000;
}
.logo {
  font-size: 25px;
  color: #fff;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.HillsBG {
  position: relative;
  width: 300px;
  height: 300px;
  background: transparent;
}
.HillsBG:before {
  content: "J Hill";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 60px;
  padding: 8px 15px;
  background: url('../../zassets/Images/JHillHills4.png') no-repeat center center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.HillsBG:hover:before {
  opacity: 1;
}


.navbar {
  background: linear-gradient(hsl(216, 8%, 9%) 5%, hsl(216, 8%, 18%));
  border-radius: 30px;
  padding: 12px 15px;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin: 0 10px;
  padding: 7px 20px;
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.1s * var(--i));
  border-radius: 17px;
}
.navbar a:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
} 
.navbar a.active {
  color: var(--secondaryColor);
}
.navbar a:nth-of-type(1) {
  margin: 0 10px 0 0;
}
.navbar a:nth-of-type(4) {
  margin: 0 0 0 10px;
}
.navbar a.active:hover {
  color: var(--primaryColor);
}


body {
  background-color: var(--primaryColor);
}

/* Targets the positioning of where all the links are placed */
main #links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Targets each individual list of links */
#links ul li {
  list-style-type: none;
  backdrop-filter: blur(40px);
  border: 1px solid var(--accent);
  border-radius: 32px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  /* width: 50vw; */
}

/* Targets what is inside of the lists like the a tag links and the i tag that displays the logo */
#links ul li a {
  padding: 10px 333px;
  color: var(--secondaryColor);
  text-decoration: none;
  font-size: 36px;
  font-weight: 600;
  border-radius: 50000px;
  border: 1px solid hsla(214, 10%, 15%, 0.4);
}

/* Targets the i tag */
#links a i {
  padding-right: 10px;
}






/* KEYFRAME ANIMATIONS */

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

