:root {
  --Primary: hsl(20, 100%, 99%);
  --navSecondary: rgb(32, 24, 20);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#THISISAWORKINPROGRESS {
  background-color: rgb(223, 16, 16);
  position: static;
  height: 69px;
}
#THISISAWORKINPROGRESS p {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  padding: 25px 5px;
}



#header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 0px calc(10% - 8px);
  margin: 8px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: var(--Primary);
  border: 2px solid var(--navSecondary);
}
.logo {
  font-size: 25px;
  color: #000000;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar {
  /* background: linear-gradient(hsl(216, 8%, 9%) 5%, hsl(216, 8%, 18%)); */
  border-radius: 30px;
  padding: 12px 15px;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  margin: 0 10px;
  padding: 7px 20px;
  opacity: 0;
  animation: slideLeft .5s ease forwards;
  animation-delay: calc(.1s * var(--i));
}
.navbar a:hover {
  border-bottom: 4px solid var(--navSecondary);
} 
.navbar a.active {
  color: var(--navSecondary);
}
.navbar a:nth-of-type(1) {
  margin: 0 10px 0 0;
}
.navbar a:nth-of-type(4) {
  margin: 0 0 0 10px;
}
.navbar a.active:hover {
  color: var(--Primary);
}

/* END OF NAV */


main {
  background-color: hsl(20, 100%, 99%);
}





/* KEYFRAME ANIMATIONS */

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

